



.pce{
	
	color: #FFAE5E;
}

.alert{
	margin-top: 32dp;
	align-content: center;
	text-align: center;
	border: dashed;
	color: #FFAE5E;
	

}

.cnt{

	align-content: center;
	text-align: center;



}

.scroll-bg{

			
			width: 100%;
			
		}

		.scroll-div{

			width: 100%;
			height: 300px;
			overflow: hidden;
			overflow-y: scroll;
			
		}

		.scroll-object{

			
			font-family: cursive;
			font-size: 15px;
			padding:20px ;
		}

		.logo_user{

			margin: 0;
			padding: 0;
			align-content: center;
			/*background: palegreen;*/
		}

		.mt{

			margin-top: 38px;
		}
		.img_user{

			align-content: center;
			border-radius: 50%;
			height: 72px;
			width: 72px;
			margin-top: 48px;
		}

		.alt_prod{
			background: #E0EDFC;
			width: 100%;
			height: 1320px;

			
			
			
		}

		.tablink {
    background-color: #FFF;
    color: #FFAE5E;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    /*padding: 14px 16px;*/
    font-size: 17px;
    width: 25%;

		}

.tablink:hover {
    background-color: #FFF;
    color: #FFAE5E;
}

.bar{

	 background-color: #FFAE5E;
}

.th{

	border: solid 1px black;
	width: 100px;
	height: 252px;
	margin: 1px;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    
    width: 100%;
    height: 1220px;
}

#Home {
    background-color: #FFF;
}

#News {
    background-color:  #FFF;
}

#Contact {
    background-color:  #FFF;
}

#About {
    background-color:  #FFF;
}

.table {
    padding: 30px;
    height: 30px;
}

.spn_slider{

	margin-top: 188px;
}

.prod_plus{

		margin-top: 16px;
	
		margin-left: 50%;

}